/* Start Variables  */
:root {
    --section-padding: 60px;
    --section-color: #eee;
}
/* End Variables  */
/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Maiden Orange', cursive;
}
li {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px){
    .container {
        width: 750px;
}
}
    /* Medium */
@media (min-width: 992px){
    .container {
        width: 970px;
}
}
    /* Large */
@media (min-width: 1200px){
    .container {
        min-width: 1170px;
}
}
/* End Global Rules  */
/* Start Global Components   */
.special-heading {
    font-size: 50px;
    text-align: center;
    letter-spacing: -0.3px;
    margin: 0px;
    padding-bottom: 40px;
}
/* End Global Components   */
/* Start Heading  */
.header {
    background-color: #2a2a2a;
    padding: 20px;
}
.heading .container {
    position: relative;
}
.header .logo img {
    width: 120px;
    height: 70px;
}
@media (max-width: 767px) {
    .header .logo img {
        width: 80px;
        height: 35px;
    }
}
.header .links {
    position: absolute;
    top: 50px;
    right: 80px;
}
@media (max-width: 767px) {
    .header .links {
        top: 25px;
        right: 40px;
    }
}
.header .links li {
    display: inline;
}
.header .links a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 15px;
}
@media (max-width: 767px) {
    .header .links a {
        font-size: 11px;
        padding: 7px;
    }
}
.header .links a:hover {
    background-color: lightslategray;
}
/* End Heading  */
/* Start GTA  */
.gta {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.gta .gta-content .gta-info {
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .gta .gta-content .gta-info {
        flex-direction: column;
    }
}
.gta .gta-content img {
    width: 300px;
    height: 300px;
}
.gta .gta-content p {
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .gta .gta-content p {
        font-size: 17px;
        padding-left: 0px;
        padding-top: 20px;
        text-align: center;
    }
}
.gta .gta-content .gta-video {
    text-align: center;
    margin-top: 10px;
}
.gta .gta-content .gta-video video {
    width: 600px;
    height: 400px;
}
@media (max-width: 767px) {
    .gta .gta-content .gta-video video {
        width: 300px;
        height: 200px;
    }
}
/* End GTA  */
/* Start Rocket  */
.rtl {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.rtl .rtl-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
@media (max-width: 767px) {
    .rtl .rtl-content .rtl-info {
        flex-direction: column;
    }
}
.rtl .rtl-info img {
    width: 300px;
    height: 300px;
}
.rtl .rtl-info p {
    padding-right: 40px;
    font-size: 30px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .rtl .rtl-info p {
        font-size: 17px;
        padding-right: 0px;
        padding-top: 20px;
        text-align: center;
    }
}
.rtl .rtl-video {
    text-align: center;
    margin-top: 10px;
}
.rtl .rtl-video video {
    width: 600px;
    height: 400px;
}
@media (max-width: 767px) {
    .rtl .rtl-video video {
        width: 300px;
        height: 200px;
    }
}
/* End Rocket  */
/* Start League  */
.lol {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.lol .lol-info {
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .lol .lol-info {
        flex-direction: column;
    }
}
.lol .lol-info img {
    width: 300px;
    height: 300px;
}
.lol .lol-info p {
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .lol .lol-info p {
        font-size: 17px;
        padding-left: 0px;
        padding-top: 20px;
        text-align: center;
    }
}
.lol .lol-video {
    text-align: center;
    margin-top: 10px;
}
.lol .lol-video video {
    width: 600px;
    height: 400px;
}
@media (max-width: 767px) {
    .lol .lol-video video {
        width: 300px;
        height: 200px;
    }
}
/* End League  */
/* Start Opinion  */
.opinion {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.opinion .opinion-heading {
    font-size: 37px;
    margin: 0;
    padding-bottom: 30px;
    letter-spacing: -0.2px;
    position: relative;
    text-align: center;
}
@media (max-width: 767px) {
    .opinion .opinion-heading {
        font-size: 25px;
    }
}
.opinion .opinion-heading::after {
    content: "";
    display:inline-block!important;
    width:0;
    height:0;
    border-left: 14px solid transparent;
    border-top: 14px solid #e7d216;
    border-bottom: 14px solid transparent;
    right: 50%;
    top: 35px;
    transform: rotateZ(135deg);
    position: absolute;
}
@media (max-width: 767px) {
    .opinion .opinion-heading::after {
        top: 17px;
    }
}
.opinion .area {
    text-align: center;
}
.opinion textarea{
    outline: 5px solid black;
    border-radius: 30px;
    padding: 25px;
}
.opinion input {
    margin-top: 15px;
    width: 100px;
    height: 30px;
    background-color: black;
    color: #e7d216;
    border: none;
}
/* End Opinion  */